@import "../../styles/index";

.UploadPage {
  max-width: 1240px;
  width: 100%;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    @include roboto-16-bold;
    color: $color-accent-primary;
  }

  h2 {
    @include roboto-12-regular;
    color: #fff;
    margin: 5px;
  }

  @media screen and (min-width: $tabs) {
    h1 {
      @include roboto-24-bold;
    }
    h2 {
      @include roboto-20-regular;
    }
    padding: 30px 10px;
  }

  .hidden {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  .UploadContainer {
    position: relative;
    max-width: 800px;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    background-color: #3c3c3c;
    background-image: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.06) 25%,
        transparent 0
      ),
      linear-gradient(-45deg, rgba(0, 0, 0, 0.06) 25%, transparent 0),
      linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.06) 0),
      linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.06) 0);
    background-size: 24px 24px;
    background-position: 0 0, 0 12px, 12px -12px, -12px 0;
    box-shadow: $shadow-primary;
    margin: 10px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;

    @media screen and (min-width: $tabs) {
      min-height: 200px;
      margin: 30px 0;
    }

    .UploadButton {
      max-width: 250px;
      width: 100%;
      height: 40px;
      box-shadow: $shadow-primary;
      margin: 10px;
      z-index: 2;

      span {
        @include roboto-16-bold;
      }
      @media screen and (min-width: $tabs) {
        max-width: 400px;
        height: 70px;
      }
    }

    span {
      @include roboto-8-regular;
      color: #fff;
      @media screen and (min-width: $tabs) {
        @include roboto-14-regular;
      }
    }

    &-DropZone {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      &__active {
        z-index: 101;
      }
    }
  }
}
