$background-primary: #1f2d47;
$background-secondary: #293a58;
$background-select: #3c4e6e;
$background-selected-item: #579AFF;

$color-primary: rgba(#8146ff, 1);
$color-primary-hover: rgba(#733bec, 1);

$color-disabled: rgba(191, 191, 191, 1);
$color-disabled-secondary: rgba(245, 245, 245, 1);

$color-accent-primary: rgba(#ff447c, 1);
$color-white-hover: #a8a8a8;

$color-text-secondary: #7988A3;